node_modules
.next
dist
out
coverage

.git
.gitignore

pnpm-store
.pnpm-store
.npm
.yarn

.env
.env.*

Dockerfile
docker-compose.yml

.vscode
.devcontainer

**/*.log
**/*.tsbuildinfo

.saleor-app-auth.json
